html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #222;
}

body {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
